# All files in this package is subject to the GPL v2 license
# More information is in the COPYING file in the top directory of this package.
# Copyright (C) 2009 severalnines.com

[MYSQLD]
interactive_timeout=120
wait_timeout=120
user=mysql
basedir=/usr/
datadir=/var/mysql/data
pid-file=mysqld.pid
socket=/var/mysql/data/mysql.sock
port=3306
ndb-cluster-connection-pool=8
ndbcluster
ndb-connectstring="istsbdcs01:1186;istsbdcs02:1186"
ndb-force-send=1
ndb-use-exact-count=0
ndb-extra-logging=1
ndb-autoincrement-prefetch-sz=256
engine-condition-pushdown=1

#REPLICATION SPECIFIC - GENERAL
#server-id must be unique across all mysql servers participating in replication.
server-id=1
#REPLICATION SPECIFIC - MASTER
log-bin=binlog
sync-binlog=1
binlog_format=MIXED
#LOGS
log-err=error.log

# Remove binary logs older than 10 days
expire_logs_days=7

#log
#log-slow-queries
#OTHER THINGS, BUFFERS ETC
key_buffer = 256M
max_allowed_packet = 16M
sort_buffer_size = 512K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
#thread_cache_size=1024
myisam_sort_buffer_size = 8M
memlock
sysdate_is_now
max-connections=4000
thread-cache-size=128
query-cache-type = 0
query-cache-size = 0
table-open_cache=1024
table-cache=750
lower-case-table-names=0

[MYSQL]
socket=/var/mysql/data/mysql.sock

[client]
socket=/var/mysql/data/mysql.sock